@function debug($list) {
  $line-break: "\A ";
  $result: "[ " + $line-break;

  @each $item in $list {
    $result: $result + "  ";

    @if length($item) > 1 {
      $result: $result + debug($item);
    }

    @else {
      $result: $result + $item;
    }

    @if index($list, $item) != length($list) {
      $result: $result + ", " + $line-break;
    }
  }

  $result: $result + $line-break + "]";
  @return quote($result);
}

@mixin debug($list) {
  body:before {
    content: debug($list)                     !important;

    display: block                            !important;
    margin: 1em                               !important;
    padding: .5em                             !important;

    background: #EFEFEF                       !important;
    border: 1px solid #DDD                    !important;
    border-radius: .2em                       !important;

    color: #333                               !important;
    font: .75em/1.5 "Courier New", monospace  !important;
    text-shadow: 0 1px white                  !important;
    white-space: pre-wrap                     !important;
  }
}